.SidebarButton__container {
  max-width: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  background: transparent;
}

.SidebarButton__container > div {
  width: 80%;
  height: 0.4rem;
  background-color: var(--theme-bg-color-secondary);
  border-radius: 2px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}
