.light {
  --background-color-up: #d8f4f1;
  --background-color-blur: #d8f4f1ab;
  --background-color-down: #ffffff;
  --primary-color-up: #fb8915;
  --color-up-pure: #ffffff;
  --text-color-down: #202020;
  --foreground-color-down: #D8F4F1;
  --primary-color-down: #f6d0aa;
  --font-family: 'Nunito', sans-serif;
  --secondary-color-up: #2B5F66;
}
