.Theme__container {
  position: relative;
}

.Theme__menu {
  position: absolute;
  bottom: 125%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid var(--theme-text-terciary);
  background-color: var(--theme-bg-color-primary);
  box-shadow: var(--std-box-shadow);
  z-index: 50;
}

.Theme__menu button:hover {
  background-color: var(--theme-text-terciary);
  border-radius: 4px;
}
