.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 30%;
  .inputSearchNews {
    width: 100%;
    padding: 8px;
    padding-right: 34px;
    outline: none;
    border: none;
    border-bottom: 2px solid #999999;
    font-size: 16px;
    background-position: center right;
    background-image: url("../../assets/icons8-search-30.png");
    background-repeat: no-repeat;
    background-color: transparent;
    color: white;

    &:focus-visible {
      outline: none;
    }
    &::-webkit-search-cancel-button,
    ::-webkit-search-decoration,
    ::-webkit-search-results-button,
    ::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
    &::placeholder {
      color: #bbb;
    }
  }
  .buttonSearchNews {
    padding: 17px;
    padding-left: 55px;
    width: 300px;
    border: 1px solid #f5f5f5;
    font-size: 13px;
    color: gray;
    background-image: url();
    background-repeat: no-repeat;
    background-position: right center;
    outline: 0;
  }
  @media (max-width: 1000px) {
    width: 75%;
  }
}
