.MainNavigation__wrapper {
  width: 100%;
}

.MainNavigation__wrapper .MainNavigation__container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem 1.6rem;
  z-index: 100;
}

.MainNavigation__container h2 {
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.MainNavigation__rightSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 1.4rem;
}
