.container {
  margin: 0;
  height: 91%;
  &__section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    &-title {
      color: #fff;
      font-weight: 600;
      font-size: 32px;
      margin: 0;
    }
  }
  &__main {
    width: 100%;
    gap: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
}
