.header-container {
  width: 100vw;
  height: 65px;
  background: var(--background-color-blur);
  backdrop-filter: blur(5px);

  position: fixed;
  top: 0px;
  right: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  z-index: 10;

  svg {
    width: 65px;
    height: 65px;
    cursor: pointer;
  }

  .mae-search-container {
    display: none;
  }

  @include query('md') {
    padding: 10px 80px;

    .mae-search-container {
      width: 400px;
      display: flex;
    }
  }
}
