.LocationCard__container,
.LocationCard__aboutLocation,
.LocationCard__temperature {
  max-width: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.LocationCard__container {
  gap: 1rem;
}

.LocationCard__aboutLocation {
  gap: 0.2rem;
}

.LocationCard__aboutLocation h1 {
  font-size: 3rem;
}

.LocationCard__dateInfo {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.LocationCard__temperature {
  max-width: 100%;
  flex-direction: row;
  gap: 1.5rem;
}

.LocationCard__temperature h2 {
  font-size: 8rem;
}

.LocationCard__temperature__divider {
  width: 0.4rem;
  height: 4rem;
  margin-bottom: 2rem;
  align-self: flex-end;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.LocationCard__temperature .LocationCard__localtime {
  font-size: 4rem;
  font-weight: bold;
  align-self: flex-end;
  margin-bottom: 1.2rem;
}

.LocationCard__temperature img {
  max-width: 6rem;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

@media screen and (max-width: 540px) {
  .LocationCard__container,
  .LocationCard__aboutLocation {
    max-width: 80%;
  }

  .LocationCard__temperature {
    flex-direction: column;
    gap: 0.8rem;
  }

  .LocationCard__temperature__divider,
  .LocationCard__temperature .LocationCard__localtime {
    align-self: center;
  }

  .LocationCard__temperature__divider {
    height: 0.4rem;
    width: 40%;
    margin-bottom: 1rem;
  }
}
