.search-input {
    border-radius: 5px;
    width: 35%;
    font-size: 1.5rem;
    padding: .3rem .8rem;
    border-color: aliceblue;
}

@media screen and (max-width: 1150px) {
    .search-input {
        width: 45%;
    }
}

@media screen and (max-width: 790px) {
    .search-input {
        font-size: 1.35rem;
        width: 100%;
    }
}