.HomeBackgroundImage__container {
  position: absolute;
  inset: 0;
  height: 100%;
  margin-top: -5.6rem;
  z-index: -1;
}

.HomeBackgroundImage__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(2) blur(1px) brightness(0.9);
}
