.spinner {
  position: absolute;
  top: calc(50% - #{5rem / 2});
  left: calc(50% - #{5rem / 2});
  width: 5rem;
  height: 5rem;
  animation: spinner 0.75s linear infinite;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .spinner-inner-1 {
    background: linear-gradient(to right, rgba(#fa8072, 0) 0%, rgba(#fa8072, 0) 50%, #fa8072 51%);
  }

  .spinner-inner-2 {
    background: linear-gradient(to top, rgba(#070807, 0) 0%, #070807 100%);
  }

  .spinner-inner-3 {
    $offset: 5rem * 0.1;
    top: $offset;
    left: $offset;
    width: 5rem - ($offset * 2);
    height: 5rem - ($offset * 2);
    background: #070807;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
